.container{
    border:0px solid red;
}

.row{
    border:0px solid red;
}
.col,.col-1,.col-2,.col-3,.col-4,.col-5,
.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,
.col-12
{ border:0px solid green;

}
body{
    background-color:darkolivegreen;
}
h1.webtitle{
    display: flex;
    justify-content: center;
    align-items: center;
}
#webname{
    font-family:'sans-serif';
    font-size:100%;
    background-color:#F8B960;
    padding:10px 0px 10px 0px;

}
#header{
    background-color:#f14203fd;
    font-size: small;
    padding:3px 0px;
    text-align:center;
    align-items: center;
}
#header ul{
    list-style: none;
    margin:0;
}
#header ul li{
   display: inline-block;
   align-items: center;
    
}
#header ul li a{
    color: aliceblue;
    text-align:center;
    align-items: center;
}
#menu{
    background-color: #F9EEC9;
}
#sidebar{
    background-color: #770D15;
    color:beige;
}
table.table{
    color:beige;
}
#footer{
    background-color: #F8B960;
    color:rgb(70, 64, 64);
    
}
.btn{
    position: relative;
margin-bottom: 10px;
display: inline-block
}